@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=PT+Serif&display=swap');
.noto{
  font-family: 'Noto Serif', serif;
}
.serif{
  font-family: 'PT Serif',serif;
}
.nun{
  font-family: 'Nunito', sans-serif;
}
.navlink{
  text-decoration: none;
}
.gradient-text {
  background: linear-gradient(45deg, #0e00d5, #ff0a0a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text2 {
  background: linear-gradient(0deg, #0e00d5, #ff0a0a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.scrollable-container{
overflow: hidden;
}
.scrollable-container::-webkit-scrollbar {
  width: 0.5em;
  background-color: #F5F5F5;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  opacity: 0;
}
.transparent-input {
  background-color: transparent;
}

.gradient-text1 {
  background: linear-gradient(45deg, #94d2ff, #08127f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text3 {
  background: linear-gradient(10deg, #94d2ff, #08127f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card{
  border: none;
}
.bg-custom{
  background-color: rgb(205 206 229 / 40%);
}
.password-strength-line {
  border: none;
  width: 100%;
  margin-top: 5px;
}
/* #destination::placeholder {
  background: linear-gradient(360deg, #ff0a0a, #0e00d5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#source::placeholder {
  background: linear-gradient(360deg, #0e00d5, #ff0a0a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#date::placeholder {
  background: linear-gradient(360deg, #0e00d5, #ff0a0a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
.table {
  table-layout: fixed; /* Ensures equal width columns */
  word-wrap: break-word; /* Allows text wrapping */
}
@media (max-width: 456px) {
  .table {
    width: 100%;
  }
}
.border-box {
  box-sizing: border-box;
}