@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=PT+Serif&display=swap');
.noto{
  font-family: 'Noto Serif', serif;
}
.serif{
  font-family: 'PT Serif',serif;
}
.nun{
  font-family: 'Nunito', sans-serif;
}
.navlink{
  text-decoration: none;
  color: #425664;
}
.gradient-text {
  background: linear-gradient(45deg, #0e00d5, #ff0a0a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.scrollable-container::-webkit-scrollbar {
  width: 0.5em;
  background-color: #F5F5F5;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  opacity: 0;
}
.gradient-text1 {
  background: linear-gradient(45deg, #94d2ff, #08127f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* #destination::placeholder {
  background: linear-gradient(360deg, #ff0a0a, #0e00d5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#source::placeholder {
  background: linear-gradient(360deg, #0e00d5, #ff0a0a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#date::placeholder {
  background: linear-gradient(360deg, #0e00d5, #ff0a0a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
